<window id="4">
	<defaultcontrol always="false">3</defaultcontrol>
	<previouswindow>50</previouswindow>
	<allowoverlay>yes</allowoverlay>
	<controls>
		<include>background</include>
		<include>xtv-box</include>
		<include>Fake-Overlay</include>
		<control type="image">
			<description>Settings Logo</description>
			<include>icon-header-commons</include>
			<texture>icon-settings.png</texture>
		</control>
		<control type="label">
			<description>Settings Label</description>
			<posx>535</posx>
			<posy>40</posy>
			<label>31035</label>
			<font>font20</font>
			<textcolor>button-text</textcolor>
		</control>
		<control type="group">
			<control type="button" id="3">
				<description>Appearance</description>
				<font>font13</font>
				<posx>405</posx>
				<posy>90</posy>
				<width>285</width>
				<height>40</height>
				<texturefocus>default-button.png</texturefocus>
				<texturenofocus>-</texturenofocus>
				<label>480</label>
				<onclick>ActivateWindow(AppearanceSettings)</onclick>
				<onleft>3</onleft>
				<onright>3</onright>
				<onup>999</onup>
				<ondown>6</ondown>
				<textcolor>button-text</textcolor>
			</control>
			<control type="image">
				<description>Appearance Settings arrow focus image</description>
				<posx>656</posx>
				<posy>100</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right-focus.png</texture>
				<visible>Control.HasFocus(3)</visible>
			</control>
			<control type="image">
				<description>Appearance Settings arrow image</description>
				<posx>656</posx>
				<posy>100</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right.png</texture>
			</control>
			<control type="button" id="6">
				<description>My Videos</description>
				<font>font13</font>
				<posx>405</posx>
				<posy>129</posy>
				<width>285</width>
				<height>40</height>
				<texturefocus>default-button.png</texturefocus>
				<texturenofocus>-</texturenofocus>
				<label>3</label>
				<onclick>ActivateWindow(MyVideosSettings)</onclick>
				<onleft>6</onleft>
				<onright>6</onright>
				<onup>3</onup>
				<ondown>7</ondown>
				<textcolor>button-text</textcolor>
			</control>
			<control type="image">
				<description>My Videos Settings arrow focus image</description>
				<posx>656</posx>
				<posy>138</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right-focus.png</texture>
				<visible>Control.HasFocus(6)</visible>
			</control>
			<control type="image">
				<description>My Videos Settings arrow image</description>
				<posx>656</posx>
				<posy>138</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right.png</texture>
			</control>
			<control type="button" id="7">
				<description>My Music</description>
				<font>font13</font>
				<posx>405</posx>
				<posy>168</posy>
				<width>285</width>
				<height>40</height>
				<texturefocus>default-button.png</texturefocus>
				<texturenofocus>-</texturenofocus>
				<label>2</label>
				<onclick>ActivateWindow(MyMusicSettings)</onclick>
				<onleft>7</onleft>
				<onright>7</onright>
				<onup>6</onup>
				<ondown>9</ondown>
				<textcolor>button-text</textcolor>
			</control>
			<control type="image">
				<description>My Music Settings arrow focus image</description>
				<posx>656</posx>
				<posy>178</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right-focus.png</texture>
				<visible>Control.HasFocus(7)</visible>
			</control>
			<control type="image">
				<description>My Music Settings arrow image</description>
				<posx>656</posx>
				<posy>178</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right.png</texture>
			</control>
			<control type="button" id="9">
				<description>My Pictures</description>
				<font>font13</font>
				<posx>405</posx>
				<posy>207</posy>
				<width>285</width>
				<height>40</height>
				<texturefocus>default-button.png</texturefocus>
				<texturenofocus>-</texturenofocus>
				<label>1</label>
				<onclick>ActivateWindow(MyPicturesSettings)</onclick>
				<onleft>9</onleft>
				<onright>9</onright>
				<onup>7</onup>
				<ondown>10</ondown>
				<textcolor>button-text</textcolor>
			</control>
			<control type="image">
				<description>My PicturesSkin Settings arrow focus image</description>
				<posx>656</posx>
				<posy>216</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right-focus.png</texture>
				<visible>Control.HasFocus(9)</visible>
			</control>
			<control type="image">
				<description>My Pictures Settings arrow image</description>
				<posx>656</posx>
				<posy>216</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right.png</texture>
			</control>
			<control type="button" id="10">
				<description>My Weather</description>
				<font>font13</font>
				<posx>405</posx>
				<posy>246</posy>
				<width>285</width>
				<height>40</height>
				<texturefocus>default-button.png</texturefocus>
				<texturenofocus>-</texturenofocus>
				<label>8</label>
				<onclick>ActivateWindow(MyWeatherSettings)</onclick>
				<onleft>10</onleft>
				<onright>10</onright>
				<onup>9</onup>
				<ondown>8</ondown>
				<textcolor>button-text</textcolor>
			</control>
			<control type="image">
				<description>My Weather Settings arrow focus image</description>
				<posx>656</posx>
				<posy>256</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right-focus.png</texture>
				<visible>Control.HasFocus(10)</visible>
			</control>
			<control type="image">
				<description>My Weather Settings arrow image</description>
				<posx>656</posx>
				<posy>256</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right.png</texture>
			</control>
			<control type="button" id="8">
				<description>Addons</description>
				<font>font13</font>
				<posx>405</posx>
				<posy>285</posy>
				<width>285</width>
				<height>40</height>
				<texturefocus>default-button.png</texturefocus>
				<texturenofocus>-</texturenofocus>
				<label>24001</label>
				<onclick>ActivateWindow(AddonBrowser)</onclick>
				<onleft>8</onleft>
				<onright>8</onright>
				<onup>10</onup>
				<ondown>2</ondown>
				<textcolor>button-text</textcolor>
				<visible>!System.Platform.Xbox</visible>
			</control>
			<control type="button" id="8">
				<description>My Programs</description>
				<font>font13</font>
				<posx>405</posx>
				<posy>285</posy>
				<width>285</width>
				<height>40</height>
				<texturefocus>default-button.png</texturefocus>
				<texturenofocus>-</texturenofocus>
				<label>0</label>
				<onclick>ActivateWindow(MyProgramsSettings)</onclick>
				<onleft>8</onleft>
				<onright>8</onright>
				<onup>10</onup>
				<ondown>2</ondown>
				<textcolor>button-text</textcolor>
				<visible>System.Platform.Xbox</visible>
			</control>
			<control type="image">
				<description>My Programs/Addons Settings arrow focus image</description>
				<posx>656</posx>
				<posy>294</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right-focus.png</texture>
				<visible>Control.HasFocus(8)</visible>
			</control>
			<control type="image">
				<description>My Programs/Addons Settings arrow image</description>
				<posx>656</posx>
				<posy>294</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right.png</texture>
			</control>
			<control type="button" id="2">
				<description>Network</description>
				<font>font13</font>
				<posx>405</posx>
				<posy>324</posy>
				<width>285</width>
				<height>40</height>
				<texturefocus>default-button.png</texturefocus>
				<texturenofocus>-</texturenofocus>
				<label>705</label>
				<onclick>ActivateWindow(NetworkSettings)</onclick>
				<onleft>2</onleft>
				<onright>2</onright>
				<onup>8</onup>
				<ondown>4</ondown>
				<textcolor>button-text</textcolor>
			</control>
			<control type="image">
				<description>Network Settings arrow focus image</description>
				<posx>656</posx>
				<posy>334</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right-focus.png</texture>
				<visible>Control.HasFocus(2)</visible>
			</control>
			<control type="image">
				<description>Network Settings arrow image</description>
				<posx>656</posx>
				<posy>334</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right.png</texture>
			</control>
			<control type="button" id="4">
				<description>System</description>
				<font>font13</font>
				<posx>405</posx>
				<posy>363</posy>
				<width>285</width>
				<height>40</height>
				<texturefocus>default-button.png</texturefocus>
				<texturenofocus>-</texturenofocus>
				<label>13000</label>
				<onclick>ActivateWindow(SystemSettings)</onclick>
				<onleft>4</onleft>
				<onright>4</onright>
				<onup>2</onup>
				<ondown>999</ondown>
				<textcolor>button-text</textcolor>
			</control>
			<control type="image">
				<description>System Settings arrow focus image</description>
				<posx>656</posx>
				<posy>374</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right-focus.png</texture>
				<visible>Control.HasFocus(4)</visible>
			</control>
			<control type="image">
				<description>System Settings arrow image</description>
				<posx>656</posx>
				<posy>374</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right.png</texture>
			</control>

<!-- xTV SAF Skin settings menu item -->
			<control type="button" id="999">
				<description>Skin Settings Button</description>
				<font>font13</font>
				<posx>405</posx>
				<posy>402</posy>
				<width>285</width>
				<height>40</height>
				<texturefocus>default-button.png</texturefocus>
				<texturenofocus>-</texturenofocus>
				<label>31556</label>
				<onclick>XBMC.ActivateWindow(56)</onclick>
				<onleft>999</onleft>
				<onright>999</onright>
				<onup>4</onup>
				<ondown>3</ondown>
				<textcolor>button-text</textcolor>
				<aligny>center</aligny>
			</control>
			<control type="image">
				<description>Skin Settings arrow focus image</description>
				<posx>656</posx>
				<posy>412</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right-focus.png</texture>
				<visible>Control.HasFocus(999)</visible>
			</control>
			<control type="image">
				<description>Skin Settings arrow image</description>
				<posx>656</posx>
				<posy>412</posy>
				<width>16</width>
				<height>16</height>
				<texture>scroll-right.png</texture>
			</control>
		</control>
	</controls>
</window>